<div class="form-content-container mat-form-field-style">
  <div class="scrollable-container">
    <div class="cards-container">

      <div class="">
        <div class="title_box">
          <div class="title">
            {{title}}
          </div>
        </div> <!-- title_box-->

        <mat-card class="bordergray">
          <mat-card-content>

            <div class="form-row">
              <app-cv-input class="col-1" [disable]="isDisableData" required='false' domain="SSG_IMPURITY_TYPE" title="Impurity Type"
                name="impurityType" [model]="impurity.impurityType" (valueChange)="impurity.impurityType = $event">
              </app-cv-input>
            </div>
          </mat-card-content>

        </mat-card>
        <br>
        <br>
      </div>

    </div>
  </div>
</div>